<header [ngClass]="{ 'top-header': true, 'responsive-open': isResponsiveOpen }">
    <div class="logo">
        <a href="/">
            <img src="{{ imgSource }}" alt="{{ imgAlt }}">
            <span class="screen-reader">{{ 'APP.HEADER.SCREEN-READER' | uppercase | translate }}</span>
        </a>
    </div>
    <app-menunav [isResponsiveOpen]="isResponsiveOpen"></app-menunav>
    <button id="menuBars" class="icon" (click)="onMenuBarsClick()">
        <i class="fa fa-bars"></i>
    </button>
</header>