<div class="innovation-management">
  <h1>{{ 'ADVISORY.INNOVATION-MANAGEMENT.HEADER'| translate }}</h1>
  <a href="">{{ 'ADVISORY.INNOVATION-MANAGEMENT.ENABLING-NEW-THINKING'| translate }}</a>
  <div class="sectors">
    <div>
      <h2>{{ 'ADVISORY.INNOVATION-MANAGEMENT.R-D-PIPELINES.HEADER'| translate }}</h2>
      <ul>
        <li>{{ 'ADVISORY.INNOVATION-MANAGEMENT.R-D-PIPELINES.PROJECT-IDENTIFICATION'| translate }}</li>
        <li>{{ 'ADVISORY.INNOVATION-MANAGEMENT.R-D-PIPELINES.MOTIVATIONS-REWARDS'| translate }}</li>
        <li>{{ 'ADVISORY.INNOVATION-MANAGEMENT.R-D-PIPELINES.RESEARCH-COLLABORATIONS'| translate }}</li>
      </ul>
    </div>
    <div>
      <h2>{{ 'ADVISORY.INNOVATION-MANAGEMENT.CORPORATE-VENTURING.HEADER'| translate }}</h2>
      <ul>
        <li>{{ 'ADVISORY.INNOVATION-MANAGEMENT.CORPORATE-VENTURING.TARGET-SCREENING'| translate }}</li>
        <li>{{ 'ADVISORY.INNOVATION-MANAGEMENT.CORPORATE-VENTURING.INCENTIVE-MANAGEMENT'| translate }}</li>
        <li>{{ 'ADVISORY.INNOVATION-MANAGEMENT.CORPORATE-VENTURING.COMMUNITY-BUILDING'| translate }}</li>
      </ul>
    </div>
    <div>
      <h2>{{ 'ADVISORY.INNOVATION-MANAGEMENT.TALENT-DEVELOPMENT.HEADER'| translate }}</h2>
      <ul>
        <li>{{ 'ADVISORY.INNOVATION-MANAGEMENT.TALENT-DEVELOPMENT.STRESS-TESTING-TEAMS'| translate }}</li>
        <li>{{ 'ADVISORY.INNOVATION-MANAGEMENT.TALENT-DEVELOPMENT.ACCOUNTABILITY-ORGANIZATIONS'| translate }}</li>
        <li>{{ 'ADVISORY.INNOVATION-MANAGEMENT.TALENT-DEVELOPMENT.FROM-STORMING-TO-PERFORMING'| translate }}</li>
      </ul>
    </div>
  </div>
</div>