<div class="digital-bus-tran">
  <nav class="breadcrumb">
    >
    <a routerLink="/">{{ 'ADVISORY.DIGITAL-BUSINESS-TRANSFORMATION.BREADCRUMB.HOME' | translate }}</a>
    >
    <a routerLink="/advisory">{{ 'ADVISORY.DIGITAL-BUSINESS-TRANSFORMATION.BREADCRUMB.ADVISORY' | translate }}</a>
    >
    <span>{{ 'ADVISORY.DIGITAL-BUSINESS-TRANSFORMATION.BREADCRUMB.CURRENT-PAGE' | translate }}</span>
  </nav>
  <div class="main">
    <h1>{{ 'ADVISORY.DIGITAL-BUSINESS-TRANSFORMATION.HEADER'| translate }}</h1>
    <a class="help-leaders" href="">{{ 'ADVISORY.DIGITAL-BUSINESS-TRANSFORMATION.EXPLANATION'| translate }}</a>
    <div class="sectors">
      <div>
        <h2>{{ 'ADVISORY.DIGITAL-BUSINESS-TRANSFORMATION.BLOCKCHAIN.HEADER'| translate }}</h2>
        <ul>
          <li>{{ 'ADVISORY.DIGITAL-BUSINESS-TRANSFORMATION.BLOCKCHAIN.PUBLIC-PRIVATE'| translate }}</li>
          <li>{{ 'ADVISORY.DIGITAL-BUSINESS-TRANSFORMATION.BLOCKCHAIN.DEPLOYMENT-BLOCKCHAIN'| translate }}</li>
          <li>{{ 'ADVISORY.DIGITAL-BUSINESS-TRANSFORMATION.BLOCKCHAIN.ARCHITECTURE-DECENTRALIZED'| translate }}</li>
        </ul>
      </div>
      <div>
        <h2>{{ 'ADVISORY.DIGITAL-BUSINESS-TRANSFORMATION.CYBER-SECURITY.HEADER'| translate }}</h2>
        <ul>
          <li>{{ 'ADVISORY.DIGITAL-BUSINESS-TRANSFORMATION.CYBER-SECURITY.DETERRANTS'| translate }}</li>
          <li>{{ 'ADVISORY.DIGITAL-BUSINESS-TRANSFORMATION.CYBER-SECURITY.MITIGATION'| translate }}</li>
          <li>{{ 'ADVISORY.DIGITAL-BUSINESS-TRANSFORMATION.CYBER-SECURITY.CYBER-PHYSICAL'| translate }}</li>
        </ul>
      </div>
      <div>
        <h2>{{ 'ADVISORY.DIGITAL-BUSINESS-TRANSFORMATION.CLOUD-COMPUTING.HEADER'| translate }}</h2>
        <ul>
          <li>{{ 'ADVISORY.DIGITAL-BUSINESS-TRANSFORMATION.CLOUD-COMPUTING.MODULARIZATION'| translate }}</li>
          <li>{{ 'ADVISORY.DIGITAL-BUSINESS-TRANSFORMATION.CLOUD-COMPUTING.SERVERLESS-FUNCTIONS'| translate }}</li>
          <li>{{ 'ADVISORY.DIGITAL-BUSINESS-TRANSFORMATION.CLOUD-COMPUTING.RESTFUL-ARCHITECTURE'| translate }}</li>
        </ul>
      </div>
      <div>
        <h2>{{ 'ADVISORY.DIGITAL-BUSINESS-TRANSFORMATION.DATA-SCIENCE.HEADER'| translate }}</h2>
        <ul>
          <li>{{ 'ADVISORY.DIGITAL-BUSINESS-TRANSFORMATION.DATA-SCIENCE.BIG-DATA'| translate }}</li>
          <li>{{ 'ADVISORY.DIGITAL-BUSINESS-TRANSFORMATION.DATA-SCIENCE.GEOSPACIAL-DATA'| translate }}</li>
          <li>{{ 'ADVISORY.DIGITAL-BUSINESS-TRANSFORMATION.DATA-SCIENCE.REAL-TIME-DATA'| translate }}</li>
        </ul>
      </div>
      <div>
        <h2>{{ 'ADVISORY.DIGITAL-BUSINESS-TRANSFORMATION.VIRTUAL-AUGMENTED-REALITY.HEADER'| translate }}</h2>
        <ul>
          <li>
            {{ 'ADVISORY.DIGITAL-BUSINESS-TRANSFORMATION.VIRTUAL-AUGMENTED-REALITY.HUMAN-MACHINE-INTERFACE'| translate }}
          </li>
          <li>
            {{ 'ADVISORY.DIGITAL-BUSINESS-TRANSFORMATION.VIRTUAL-AUGMENTED-REALITY.ENGAGEMENT-BEHAVIOR-CHANGE'| translate }}
          </li>
          <li>{{ 'ADVISORY.DIGITAL-BUSINESS-TRANSFORMATION.VIRTUAL-AUGMENTED-REALITY.AVATARS-IDENTITY'| translate }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>