
@import "../../../colors";
.digital-bus-tran {
  .breadcrumb {
    a {
      color: black;
    }
  }
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    .help-leaders {
      text-decoration: none;
      color: $whiteSmoke;
      background-color: $lightSteelBlue;
      padding-top: 30px;
      padding-right: 20px;
      padding-bottom: 30px;
      padding-left: 20px;
      margin: 20px;
      border-radius: 29px;
      font-size: x-large;
      
    }
    .sectors {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      border-top-style: solid;
      border-top-width: thin;
      div {
        margin: 15px;
      }
      h2 {
        background-color: $purple;
        color: $whiteSmoke;
        border-radius: 19px;
        font-size: larger;
        padding: 10px;
        text-align: center;
      }
    }
  }
}
