<div class="venture-formation">
  <nav class="breadcrumb">
    >
    <a routerLink="/">{{ 'ADVISORY.VENTURE-FORMATION.BREADCRUMB.HOME' | translate }}</a>
    >
    <a routerLink="/advisory">{{ 'ADVISORY.VENTURE-FORMATION.BREADCRUMB.ADVISORY' | translate }}</a>
    >
    <span>{{ 'ADVISORY.VENTURE-FORMATION.BREADCRUMB.CURRENT-PAGE' | translate }}</span>
  </nav>
  <div class="main">
    <h1>{{ 'ADVISORY.VENTURE-FORMATION.HEADER' | translate }}</h1>
    <p class="explanation">{{ 'ADVISORY.VENTURE-FORMATION.EXPLANATION' | translate }}</p>
    <div class="strategies">
      <div>
        <h2>{{ 'ADVISORY.VENTURE-FORMATION.BUSINESS-DEVELOPMENT.HEADER'| translate }}</h2>
        <ul>
          <li>{{ 'ADVISORY.VENTURE-FORMATION.BUSINESS-DEVELOPMENT.SALES-TEAM-MANAGEMENT'| translate }}</li>
          <li>{{ 'ADVISORY.VENTURE-FORMATION.BUSINESS-DEVELOPMENT.SALES-PROCESS-ENABLEMENT'| translate }}</li>
          <li>{{ 'ADVISORY.VENTURE-FORMATION.BUSINESS-DEVELOPMENT.NEGOTIATION-SUPPORT'| translate }}</li>
        </ul>
      </div>
      <div>
        <h2>{{ 'ADVISORY.VENTURE-FORMATION.ACTIVE-COACHING.HEADER'| translate }}</h2>
        <ul>
          <li>{{ 'ADVISORY.VENTURE-FORMATION.ACTIVE-COACHING.ONE-ON-ONES'| translate }}</li>
          <li>{{ 'ADVISORY.VENTURE-FORMATION.ACTIVE-COACHING.MEASUREMENT-INDIVIDUAL-CONTRIBUTIONS'| translate }}</li>
          <li>{{ 'ADVISORY.VENTURE-FORMATION.ACTIVE-COACHING.ORGANIZATIONAL-COOPERATION'| translate }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
