.form {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: repeat(12, 1fr);

  .text-input {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    color: rgb(131, 95, 161) ;
    input {
      background-color: rgb(212, 209, 209);
    }
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: black;
      opacity: 1; /* Firefox */
    }
    
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: black;
    }
    
    ::-ms-input-placeholder { /* Microsoft Edge */
      color: black;
    }
  }

  .address {
    grid-column: 1 / -1;
  }

  .button {
    grid-column: auto / span 2;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    button {
      margin-right: 10px;
      background-color:rgb(187, 155, 209) ;
    }
  }
}
@media screen and (max-width: 575px) {
  .form {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: repeat(12, 1fr);

    .button {
      grid-column: auto;
    }
  }
}
