.form {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: repeat(12, 1fr);

  .text-input {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
  }

  .address {
    grid-column: 1 / -1;
  }

  .button {
    grid-column: auto / span 2;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    button {
      margin-right: 10px;
    }
  }
}
@media screen and (max-width: 575px) {
  .form {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: repeat(12, 1fr);

    .button {
      grid-column: auto;
    }
  }
}
