@import "../../../colors";
.advisory {
  .breadcrumb {
    a {
      color: $black;
    }
  }
  h1 {
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
    text-align: center;
    color: $purple;
  }
  img {
    display: block;
    float: right;
    position: relative;
    height: 40%;
    width: 40%;
    transform: translate(-10%, -10%)
  }
  .links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-top-style: solid;
    border-top-width: thin;
    div {
      margin-right: 20px;
      margin-left: 20px;
    }
  }

  @media screen and (max-width: 575px) {
    .links {
      flex-direction: column;
    }
  }
}
