<div class="advisory">
    <nav class="breadcrumb">
        >
        <a routerLink="/">{{ 'ADVISORY.BREADCRUMB.HOME' | translate }}</a>
        >
        <span>{{ 'ADVISORY.BREADCRUMB.CURRENT-PAGE' | translate }}</span>
    </nav>
    <h1>{{ 'ADVISORY.HEADER' | translate }}</h1>
    <div class="reference">
        <div class="quote"></div>
        <div class="image"></div>
    </div>
    <div class="links">
        <div>
            <h2>{{ 'ADVISORY.WHAT-WE-KNOW.HEADER' | translate }}</h2>
            <ul>
                <li><a routerLink="/advisory/digital-business-transformation">
                        {{ 'ADVISORY.WHAT-WE-KNOW.DIGITAL-BUSINESS-TRANSFORMATION' | translate }}</a></li>
                <li><a routerLink="/advisory/innovation-management">
                        {{ 'ADVISORY.WHAT-WE-KNOW.INNOVATION-MANAGEMENT' | translate }}</a></li>
                <li><a routerLink="/advisory/venture-formation">
                        {{ 'ADVISORY.WHAT-WE-KNOW.NEW-VENTURE-FORMATION' | translate }}</a></li>
            </ul>
        </div>
        <div>
            <h2>{{ 'ADVISORY.INDUSTRIES-WE-SERVE.HEADER' | translate }}</h2>
            <ul>
                <li>{{ 'ADVISORY.INDUSTRIES-WE-SERVE.APPLICATION-SOFTWARE' | translate }}</li>
                <li>{{ 'ADVISORY.INDUSTRIES-WE-SERVE.EDUCATION' | translate }}</li>
                <li>{{ 'ADVISORY.INDUSTRIES-WE-SERVE.INDUSTRIAL-MACHINERY' | translate }}</li>
                <li>{{ 'ADVISORY.INDUSTRIES-WE-SERVE.LIFE-SCIENCES' | translate }}</li>
                <li>{{ 'ADVISORY.INDUSTRIES-WE-SERVE.MEDICAL-DEVICES' | translate }} </li>
            </ul>
        </div>
        <div>
            <img src="{{ imgSource }}"  alt=" {{ imgAlt }} " />
        </div><!--imgplaceholder-->
    </div>
</div>