<div class="advisory">
  <h1>{{ 'ADVISORY.DRIVE-VALUE' | translate }}</h1>
  <hr />
  <div class="reference">
      <div class="quote"></div>
      <div class="image"></div>
  </div>
  <div class="links">
      <div class="what-we-know">
          <h2>{{ 'ADVISORY.WHAT-WE-KNOW.HEADER' | translate }}</h2>
          <ul>
              <li><a routerLink="/advisory/digital-business-transformation"> {{ 'ADVISORY.WHAT-WE-KNOW.DIGITAL-BUSINESS-TRANSFORMATION' | translate }}</a></li>
              <li><a routerLink="/advisory/"> {{ 'ADVISORY.WHAT-WE-KNOW.INNOVATION-MANAGEMENT' | translate }}</a></li>
              <li><a routerLink="/advisory/"> {{ 'ADVISORY.WHAT-WE-KNOW.NEW-VENTURE-FORMATION' | translate }}</a></li>
          </ul>
      </div>
      <div class="industries-we-serve">
          <h2>{{ 'ADVISORY.INDUSTRIES-WE-SERVE.HEADER' | translate }}</h2>
          <ul>
              <li><a routerLink="/advisory/"> {{ 'ADVISORY.INDUSTRIES-WE-SERVE.APPLICATION-SOFTWARE' | translate }}</a></li>
              <li><a routerLink="/advisory/"> {{ 'ADVISORY.INDUSTRIES-WE-SERVE.EDUCATION' | translate }}</a></li>
              <li><a routerLink="/advisory/"> {{ 'ADVISORY.INDUSTRIES-WE-SERVE.INDUSTRIAL-MACHINERY' | translate }}</a></li>
              <li><a routerLink="/advisory/"> {{ 'ADVISORY.INDUSTRIES-WE-SERVE.LIFE-SCIENCES' | translate }}</a></li>
              <li><a routerLink="/advisory/"> {{ 'ADVISORY.INDUSTRIES-WE-SERVE.MEDICAL-DEVICES' | translate }}</a></li>
          </ul>
      </div>
  </div>
</div>