.paxis {
  .breadcrumb {
    a {
      color: black;
    }
  }
  h1 {
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
    text-align: center;
  }
  .definition {
    margin-right: 30px;
    margin-left: 30px;
    background-color: lightgrey;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    .source {
      font-style: italic;
    }
  }
  .apply-learn {
    margin-right: 80px;
    margin-bottom: 30px;
    margin-left: 80px;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
  }
  .programs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top-style: solid;
    border-top-width: thin;
    div {
      margin-right: 20px;
      margin-left: 20px;
    }
  }
  @media screen and (max-width: 575px) {
    .programs {
      flex-direction: column;
    }
  }
}
