<div class="paxis">
  <h1>{{ 'PRAXIS.HEADER' | translate }}</h1>
  <div class="definition">
    <p [innerHTML]="'PRAXIS.DICTIONARY.DEFINITION' | translate"></p>
    <ol>
      <li>
        {{ 'PRAXIS.DICTIONARY.FIRST' | translate }}
        <ol>
          <li>{{ 'PRAXIS.DICTIONARY.FIRST.FIRST' | translate }}</li>
          <li>{{ 'PRAXIS.DICTIONARY.FIRST.SECOND' | translate }}</li>
        </ol>
      </li>
      <li>{{ 'PRAXIS.DICTIONARY.SECOND' | translate }}
        <br />
        <a href="https://www.merriam-webster.com/dictionary/praxis" target="_blank" class="source">{{ 'PRAXIS.DICTIONARY.SOURCE' | translate }}</a>
      </li>
    </ol>
  </div>
  <h2 class="apply-learn">{{ 'PRAXIS.APPLY-WHAT-YOU-LEARN' | translate }}</h2>
  <div class="programs">
    <div>
      <h3>{{ 'PRAXIS.PROGRAMS.ONLINE-PROGRAMS.HEADER'| translate }}</h3>
      <ul>
        <li>{{ 'PRAXIS.PROGRAMS.ONLINE-PROGRAMS.MICRO-LEARNING'| translate }}</li>
        <li>{{ 'PRAXIS.PROGRAMS.ONLINE-PROGRAMS.EXECUTIVE-LEARNING'| translate }}</li>
        <li>{{ 'PRAXIS.PROGRAMS.ONLINE-PROGRAMS.PROFESSIONAL-TECHNICAL-LEARNING'| translate }}</li>
      </ul>
    </div>
    <div>
      <h3>{{ 'PRAXIS.PROGRAMS.BLENDED-PROGRAMS.HEADER'| translate }}</h3>
      <ul>
        <li>{{ 'PRAXIS.PROGRAMS.BLENDED-PROGRAMS.BLENDED-BOOTCAMPS'| translate }}</li>
        <li>{{ 'PRAXIS.PROGRAMS.BLENDED-PROGRAMS.BLENDED-WORKSHOPS'| translate }}</li>
      </ul>
    </div>
    <div>
      <h3>{{ 'PRAXIS.PROGRAMS.ON-LOCATION-PROGRAMS.HEADER'| translate }}</h3>
      <ul>
        <li>{{ 'PRAXIS.PROGRAMS.ON-LOCATION-PROGRAMS.IN-COUNTRY-INTENSIVE'| translate }}</li>
        <li>{{ 'PRAXIS.PROGRAMS.ON-LOCATION-PROGRAMS.SPEECHES-AND-LECTURES'| translate }}</li>
        <li>{{ 'PRAXIS.PROGRAMS.ON-LOCATION-PROGRAMS.CLIENT-VISITS'| translate }}</li>
      </ul>
    </div>
  </div>
</div>