<div class="contact-us">
  <nav class="breadcrumb">
    >
    <a routerLink="/">{{ 'CONTACT-US.BREADCRUMB.HOME' | translate }}</a>
    >
    <span>{{ 'CONTACT-US.BREADCRUMB.CURRENT-PAGE' | translate }}</span>
  </nav>
  <div class="main">
    <h1>{{ 'CONTACT-US.HEADER' | translate }}</h1>
    <p class="explain">{{ 'CONTACT-US.EXPLANATION' | translate }}</p>
    <div *ngIf="!contactInfoSent">
      <app-contact-form (contactInfoSent)="onDisplayChange($event)"></app-contact-form>
    </div>
    <div *ngIf="contactInfoSent">
      <app-contact-sent (contactInfoSent)="onDisplayChange($event)"></app-contact-sent>
    </div>
  </div>
</div>