$purple: rgb(146, 112, 175);
$blue: #9fcff3;
$white: white;
$bodyBackColor:  #c0c0c0;
$black: black;
$grey: rgba(129, 129, 129, 0.685);
$darkGrey:  rgb(26, 26, 26);
$whiteSmoke: whitesmoke;
$lightGrey:  rgb(156, 156, 156);
$lightSteelBlue: lightsteelblue;
$darkPurple: rgb(121, 83, 153);