/* You can add global styles to this file, and also import other style files */
/* Global Styles */
@import './colors';

body {
    font-family: " Baskerville, Century, Times, and Times New Roman. Open Sans", sans-serif;
    color: $darkGrey;
    background-color: $bodyBackColor;
}