<div class="ventures">
  <nav class="breadcrumb">
    >
    <a routerLink="/">{{ 'VENTURES.BREADCRUMB.HOME' | translate }}</a>
    >
    <span>{{ 'VENTURES.BREADCRUMB.CURRENT-PAGE' | translate }}</span>
  </nav>
  <div class="main">
    <h1>{{ 'VENTURES.HEADER' | translate }}</h1>
    <p class="explanation">{{ 'VENTURES.EXPLANATION' | translate }}</p>
    <div class="projects">
      <h2>{{ 'VENTURES.PROJECTS.HEADER' | translate }}</h2>
    </div>
    <div class="approach">
      <h2>{{ 'VENTURES.APPROACH.HEADER' | translate }}</h2>
      <p class="approach-explaned">{{ 'VENTURES.APPROACH.EXPLANATION' | translate }}</p>
      <h3 class="our-process">{{ 'VENTURES.APPROACH.OUR-PROCESS.HEADER' | translate }}</h3>
      <ol class="process">
        <li>{{ 'VENTURES.APPROACH.OUR-PROCESS.IDENTIFY-UNIQUE-INSIGHT' | translate }}</li>
        <li>{{ 'VENTURES.APPROACH.OUR-PROCESS.UNDERSTAND-LEADERSHIP-NEEDS' | translate }}</li>
        <li>{{ 'VENTURES.APPROACH.OUR-PROCESS.ASSEMBLE-TEAM' | translate }}</li>
        <li>{{ 'VENTURES.APPROACH.OUR-PROCESS.SECURE-FUNDING' | translate }}</li>
      </ol>
    </div>
  </div>
</div>