<div class="home">
    <h2>{{ 'APP.HOME.NEW-WORDS' | translate }}</h2>
    <h1>{{ 'APP.HOME.HEADER' | translate }}</h1>
    <p class="statement">{{ 'APP.HOME.EXPLANATION' | translate }}</p>
    <div class="strategies">
        <div>
            <a routerLink="/advisory">{{ 'APP.HOME.ADVISORY' | translate }}</a>
            <p>{{ 'APP.HOME.SUPPORT-SCIENTIST-ENTREPRENEURS' | translate }}</p>
        </div>
        <div>
            <a routerLink="/praxis">{{ 'APP.HOME.PRAXIS' | translate }}</a>
            <p>{{ 'APP.HOME.CODIFY-EXPERT-KNOWLEDGE' | translate }}</p>
        </div>
        <div>
            <a routerLink="/ventures">{{ 'APP.HOME.VENTURES' | translate }}</a>
            <p>{{ 'APP.HOME.BRING-CAPITAL' | translate }}</p>
        </div>
    </div>
</div>